
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome/AboutAnonyme</title>
</head>
<body>
    <h1>A propos de l'anonymat</h1>
    <p>
        L'anonymat est la qualité de ce qui est sans nom ou sans renommée.
    </p>
    <p>
        C'est à dire une personne ou une chose: 
        <ul>
            <li>dont on ignore le nom ou l'identité</li>
            <li>ou qui n'est pas connue ou célèbre</li>
        </ul>
    </p>

    <p>
        Par conséquent, une chose ou une personne anonyme peut être connue sans être identifiée ou au contraire être identifiée sans être connue.
    </p>

    <p>
        "Garder l'anonymat" est l'action volontaire de masquer son identité.
    </p>
    
    <p>
        <a href="/welcome">Retour vers Welcome/Index</a>
    </p>
</body>
</html>
