
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome/About</title>
</head>
<body>
    <h1>A propos de vous</h1>
    <p>
        Votre nom est @ViewData["nom"]
    </p>
    <p>
        <a href="/person">Voir la liste de personnes</a>
    </p>
</body>
</html>
