
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Welcome/Index</title>
</head>
<body>
    <h1>Bienvenue à vous</h1>
    <p>
        <a href="/welcome/bye">Quitter</a>
    </p>
</body>
</html>
